@font-face {
  font-family: 'HansKendrick';
  src: url('../fonts/hanskendrick-regular-webfont.woff2') format('woff2'),
    url('../fonts/hanskendrick-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}